// custom scrollbar started

#style-4::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $slate;
  width: 5px;
}

#style-4::-webkit-scrollbar {
  width: 6px;
  background-color: $slate;
}

#style-4::-webkit-scrollbar-thumb {
  background-color: $charcoal-light;
}

// custom scrollbar ends
