%flexColumn {
  display: flex;
  flex-direction: column;
}

%alignCenter {
  display: flex;
  align-items: center;
}

%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%gridCenter {
  display: grid;
  place-items: center;
}

%customScrollBar {
  &::-webkit-scrollbar {
    width: 6px;
    background: hsl(0, 0%, 96%);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(black, 0.4);
    background: hsla(206, 100%, 45%, 1);
  }
}
