/* ------------------- */
/* search documents css starts          */
/* ------------------- */
.search-documents-wrapper {
  padding-top: 30px;
  padding-bottom: 50px;
  .button-primary {
    width: 100%;
    padding-block: 13px;
    text-transform: uppercase;
  }
}
/* ------------------- */
/* search documents css ends           */
/* ------------------- */
