/* ------------------- */
/* tenders css start  */
/* ------------------- */
.tenders-list-banner {
  background-image: url(./../images/tenders-list.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  height: 356px;
  align-items: flex-end;
  justify-content: center;
}
/* ------------------- */
/* tenders css ends  */
/* ------------------- */
